<div style="text-align:center">
  <h1>
    Subscription form
  </h1>
</div>

<form [formGroup]="form">

<span class="ui-float-label">
    <input id="flightId" formControlName="flightId" type="text" size="30" pInputText>
    <label for="flightId">Flight id</label>
</span>
<span class="ui-float-label">
  <p-calendar id="arrivalDate" formControlName="arrivalDate" [showIcon]="true"></p-calendar>
  <label for="arrivalDate">Arrival date</label>
</span>
<span class="ui-float-label">
    <input id="ticketId" formControlName="ticketId" type="text" size="30" pInputText>
    <label for="ticketId">Ticket id</label>
</span>
<span class="ui-float-label">
  <p-listbox id="guarantee-level" [options]="levels" [style]="{'width':'190px'}">
    <p-header>
      <i class="fa fa-car"></i>
      List of Car
    </p-header>
    <ng-template let-car let-i="index" pTemplate="item">
        <div class="ui-helper-clearfix">
            <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="display:inline-block;margin:5px 0 0 5px" width="48">
            <span style="float:right;margin:20px 10px 0 0">{{i}} - {{car.value}}</span>
        </div>
    </ng-template>
    <p-footer>
        Selected: {{selectedLevel||'none'}}
    </p-footer>
</p-listbox>
    <label for="guarantee-level">Guarantee level</label>
</span>
<span class="ui-float-label">
    <input id="email" formControlName="email" type="text" size="30" pInputText>
    <label for="email">Email</label>
</span>
<p-button icon="fa fa-fw fa-check" iconPos="right" label="Subscribe" (click)="submit()"></p-button>

</form>
