<html>
<body>
<p>As a consequence of the delay of your flight $flighId, we are pleased to communicate you that the insured
    amount of CHF $insuredAmount was transfered to your account.</p>
<p>The Mobiliar thanks you for your trust.</p>
<p>...Think about Mobi-Tour when planning your next holidays...</p>
<a href="https://www.mobiliere.ch/assurances-et-prevoyance/vehicules-et-voyages/assurance-voyages#gref">
    https://www.mobiliere.ch/assurances-et-prevoyance/vehicules-et-voyages/assurance-voyages#gref
</a>
</body>
</html>