<html>
<body>
<p>We confirm the receipt of your payment of CHF $premiumAmount and the start of your Mobi-UFI insurance cover for your flight $flightId.
<p>The Mobiliar thanks you for your trust and wishes you a pleasant trip.</p>
<p>...Think about Mobi-24 when planning your next holidays...</p>
<a href="https://www.mobiliere.ch/assurances-et-prevoyance/vehicules-et-voyages/assurance-voyages#gref">
    https://www.mobiliere.ch/assurances-et-prevoyance/vehicules-et-voyages/assurance-voyages#gref
</a>
</body>
</html>