<p-table [value]="insurableFlights">
  <ng-template pTemplate="header">
    <tr>
      <th>Flight id</th>
      <th>Status</th>
      <th>Delay probability</th>
      <th>Premium estimation</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{item.flight.flightId}}</td>
      <td>{{item.flight.status}}</td>
      <td>{{item.delayProbability}}</td>
      <td>
        <span [ngStyle]="{'color': (item.riskCoverages[0].available ? 'green' : 'black')}">
          {{item.riskCoverages[0].premiumAmount}}
        </span>
        <span [ngStyle]="{'color': (item.riskCoverages[1].available ? 'green' : 'black')}">
          / {{item.riskCoverages[1].premiumAmount}}
        </span>
        <span [ngStyle]="{'color': (item.riskCoverages[2].available ? 'green' : 'black')}">
          / {{item.riskCoverages[2].premiumAmount}}
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>
